<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Ekubo, Inc.</vendor>
  <vendor_url>https://ekubo.org/</vendor_url>

  <action id="com.ekubo.wallet.human-presence">
    <description>Confirm a sensitive Ekubo Wallet operation</description>
    <message>Authentication is required to confirm a sensitive Ekubo Wallet operation</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
